In [10]:
import pandas as pd
import glob
import tqdm

# Data Processing

### 从磁盘中取数并存为 CSV

In [ ]:
code_list = [
    '000002sz', '000063sz', '000651sz', '000858sz', '002460sz', 
    '002594sz', '002841sz', '300144sz', '300498sz', '600111sh', 
    '600309sh', '600398sh', '600436sh', '600585sh', '600893sh', 
    '600900sh', '601088sh', '601100sh', '601360sh', '603986sh'
]

In [9]:
# 获取 ~/ 目录下所有 snap_stkhf202101_*.sas7bdat 文件
dfs = {}
for code in code_list:
    file_path = glob.glob(f'/mnt/sdb1/HF2021/L2HF2101_L2/snap_stkhf202101_{code}.sas7bdat')
    if file_path:
        dfs[code] = pd.read_sas(file_path[0], format='sas7bdat', encoding='utf-8')
    else:
        print(f'{code} not found')

In [11]:
for code, df in dfs.items():
    # save to csv in current directory
    df.to_csv(f'rawdata_L2HF2101_L2/{code}.csv', index=False)
    print(f'{code}.csv saved. Shape: {df.shape}')

000002sz.csv saved. Shape: (100635, 91)
000063sz.csv saved. Shape: (100667, 91)
000651sz.csv saved. Shape: (100637, 91)
000858sz.csv saved. Shape: (100686, 91)
002460sz.csv saved. Shape: (100676, 91)
002594sz.csv saved. Shape: (100690, 91)
002841sz.csv saved. Shape: (85052, 91)
300144sz.csv saved. Shape: (99668, 91)
300498sz.csv saved. Shape: (100099, 91)
600111sh.csv saved. Shape: (103263, 110)
600309sh.csv saved. Shape: (102216, 110)
600398sh.csv saved. Shape: (91210, 110)
600436sh.csv saved. Shape: (101798, 110)
600585sh.csv saved. Shape: (103044, 110)
600893sh.csv saved. Shape: (103538, 110)
600900sh.csv saved. Shape: (102386, 110)
601088sh.csv saved. Shape: (102041, 110)
601100sh.csv saved. Shape: (102086, 110)
601360sh.csv saved. Shape: (102437, 110)
603986sh.csv saved. Shape: (102523, 110)

In [32]:
df1 = pd.read_csv('rawdata_L2HF2101_L2/600436sh.csv')
df2 = pd.read_csv('rawdata_L2HF2101_L2/000002sz.csv')

In [49]:
print(df1.columns.to_list())
print(df1.describe().columns.to_list())
# print col in df1.columns but not in df1.describe().columns
for col in df1.columns:
    if col not in df1.describe().columns:
        print(col)

df1.shape, len(df1.columns.to_list())

['Exchflg', 'Code', 'Code_Mkt', 'Qdate', 'QTime', 'InstrumentStatus', 'PrevClPr', 'OpPr', 'HiPr', 'LoPr', 'Tprice', 'Tvolume', 'Tsum', 'Tdeals', 'TVolume_accu', 'TSum_accu', 'Tdeals_accu', 'BidPr1', 'BidVol1', 'BidPr2', 'BidVol2', 'BidPr3', 'BidVol3', 'BidPr4', 'BidVol4', 'BidPr5', 'BidVol5', 'AskPr1', 'AskVol1', 'AskPr2', 'AskVol2', 'AskPr3', 'AskVol3', 'AskPr4', 'AskVol4', 'AskPr5', 'AskVol5', 'BidPr6', 'BidVol6', 'BidPr7', 'BidVol7', 'BidPr8', 'BidVol8', 'BidPr9', 'BidVol9', 'BidPr10', 'BidVol10', 'AskPr6', 'AskVol6', 'AskPr7', 'AskVol7', 'AskPr8', 'AskVol8', 'AskPr9', 'AskVol9', 'AskPr10', 'AskVol10', 'BidDeals1', 'AskDeals1', 'BidDeals2', 'AskDeals2', 'BidDeals3', 'AskDeals3', 'BidDeals4', 'AskDeals4', 'BidDeals5', 'AskDeals5', 'BidDeals6', 'AskDeals6', 'BidDeals7', 'AskDeals7', 'BidDeals8', 'AskDeals8', 'BidDeals9', 'AskDeals9', 'BidDeals10', 'AskDeals10', 'TotBidVol', 'WghtAvgBidPr', 'TotAskVol', 'WghtAvgAskPr', 'IOPV_Interest', 'YldToMtrty', 'WithDrawBuyDeals', 'WithDrawBuyVol', 'WithDrawBuySum', 'WithDrawSellDeals', 'WithDrawSellVol', 'WithDrawSellSum', 'TotBidDeals', 'TotAskDeals', 'NumBidOrders', 'NumAskOrders', 'BidTrdMaxDrtn', 'AskTrdMaxDrtn', 'EtfBuyDeals', 'EtfBuyVol', 'EtfBuySum', 'EtfSellDeals', 'EtfSellVol', 'EtfSellSum', 'ClPr', 'TrdPhsCd', 'Trdirec', 'Absspread', 'Respread', 'Abseffspread', 'Reeffspread', 'Depth1', 'Depth2', 'datetime']
['Exchflg', 'Code', 'QTime', 'PrevClPr', 'OpPr', 'HiPr', 'LoPr', 'Tprice', 'Tvolume', 'Tsum', 'Tdeals', 'TVolume_accu', 'TSum_accu', 'Tdeals_accu', 'BidPr1', 'BidVol1', 'BidPr2', 'BidVol2', 'BidPr3', 'BidVol3', 'BidPr4', 'BidVol4', 'BidPr5', 'BidVol5', 'AskPr1', 'AskVol1', 'AskPr2', 'AskVol2', 'AskPr3', 'AskVol3', 'AskPr4', 'AskVol4', 'AskPr5', 'AskVol5', 'BidPr6', 'BidVol6', 'BidPr7', 'BidVol7', 'BidPr8', 'BidVol8', 'BidPr9', 'BidVol9', 'BidPr10', 'BidVol10', 'AskPr6', 'AskVol6', 'AskPr7', 'AskVol7', 'AskPr8', 'AskVol8', 'AskPr9', 'AskVol9', 'AskPr10', 'AskVol10', 'BidDeals1', 'AskDeals1', 'BidDeals2', 'AskDeals2', 'BidDeals3', 'AskDeals3', 'BidDeals4', 'AskDeals4', 'BidDeals5', 'AskDeals5', 'BidDeals6', 'AskDeals6', 'BidDeals7', 'AskDeals7', 'BidDeals8', 'AskDeals8', 'BidDeals9', 'AskDeals9', 'BidDeals10', 'AskDeals10', 'TotBidVol', 'WghtAvgBidPr', 'TotAskVol', 'WghtAvgAskPr', 'IOPV_Interest', 'YldToMtrty', 'WithDrawBuyDeals', 'WithDrawBuyVol', 'WithDrawBuySum', 'WithDrawSellDeals', 'WithDrawSellVol', 'WithDrawSellSum', 'TotBidDeals', 'TotAskDeals', 'NumBidOrders', 'NumAskOrders', 'BidTrdMaxDrtn', 'AskTrdMaxDrtn', 'EtfBuyDeals', 'EtfBuyVol', 'EtfBuySum', 'EtfSellDeals', 'EtfSellVol', 'EtfSellSum', 'ClPr', 'Absspread', 'Respread', 'Abseffspread', 'Reeffspread', 'Depth1', 'Depth2', 'datetime']
Code_Mkt
Qdate
InstrumentStatus
TrdPhsCd
Trdirec

((101798, 111), 111)

In [52]:
non_numeric_cols = [
    'Code_Mkt', 'InstrumentStatus', 'TrdPhsCd', 'Trdirec'
]
for col in non_numeric_cols:
    print(df1[col].value_counts())
    print()

Code_Mkt
600436.SH    101798
Name: count, dtype: int64

InstrumentStatus
TRADE    96256
OCALL     2106
CCALL     1241
SUSP       771
ENDTR      700
START      580
CLOSE      144
Name: count, dtype: int64

TrdPhsCd
T111    96271
C111     2084
U111     1237
E110      826
P010      760
S 10      620
Name: count, dtype: int64

Trdirec
B    50939
S    47814
F     3045
Name: count, dtype: int64

In [ ]:
df1.describe()

,Exchflg,Code,QTime,PrevClPr,OpPr,HiPr,LoPr,Tprice,Tvolume,Tsum,...,EtfSellVol,EtfSellSum,ClPr,Absspread,Respread,Abseffspread,Reeffspread,Depth1,Depth2,datetime
count,101798.0,101798.0,101798.000000,101798.000000,99094.000000,99114.000000,99114.000000,99114.000000,101798.000000,1.017980e+05,...,101798.0,101798.0,817.000000,101141.000000,101141.000000,99094.000000,99094.000000,1.011410e+05,1.011410e+05,101798
mean,1.0,600436.0,43902.869271,293.492597,293.593189,300.332681,288.897311,294.957663,964.307855,2.840893e+05,...,0.0,0.0,295.091028,0.134145,0.000455,0.149508,0.000507,9.727098e+05,3.163178e+06,2021-01-16 23:47:56.137900544
min,1.0,600436.0,31509.000000,267.510000,272.430000,272.430000,269.000000,269.340000,0.000000,0.000000e+00,...,0.0,0.0,279.980000,0.000000,0.000000,0.000000,0.000000,2.126645e+04,5.859800e+04,2021-01-04 08:45:48
25%,1.0,600436.0,37586.000000,286.510000,288.800000,294.680000,282.690000,291.240000,100.000000,2.973500e+04,...,0.0,0.0,293.200000,0.020000,0.000068,0.020000,0.000070,1.452620e+05,1.315151e+06,2021-01-08 14:58:12.750000128
50%,1.0,600436.0,41397.000000,294.450000,294.980000,300.000000,290.010000,296.310000,400.000000,1.168625e+05,...,0.0,0.0,296.380000,0.070000,0.000239,0.080000,0.000267,2.970160e+05,2.042675e+06,2021-01-15 14:57:44.500000
75%,1.0,600436.0,50329.750000,297.990000,299.550000,304.700000,294.800000,299.030000,1000.000000,2.999908e+05,...,0.0,0.0,299.550000,0.190000,0.000636,0.200000,0.000673,6.846663e+05,3.403903e+06,2021-01-22 14:59:00.249999872
max,1.0,600436.0,56396.000000,312.500000,312.500000,318.830000,312.500000,318.830000,87800.000000,2.717410e+07,...,0.0,0.0,312.500000,1.980000,0.007293,2.600000,0.008736,5.434820e+07,5.926382e+07,2021-01-29 15:39:39
std,0.0,0.0,6772.457552,9.783258,9.337013,8.085276,8.118138,7.612282,2095.686337,6.163191e+05,...,0.0,0.0,7.778306,0.165582,0.000563,0.194061,0.000660,2.685786e+06,4.019648e+06,NaN

### 列名解释

以下是数据集中各列名的解释（基于常见金融数据缩写推测）：

1. **Exchflg**: Exchange Flag 交易所标志（如沪深市场标识）
2. **Code**: 证券代码（例中显示600436为片仔癀股票代码）
3. **Code_Mkt**: 证券代码+市场类型（如SH/SZ后缀）
4. **Qdate**: Quote Date 行情日期
5. **QTime**: Quote Time 行情时间
6. **InstrumentStatus**: 证券交易状态（如停牌/正常）
7. **PrevClPr**: Previous Close Price 前收盘价
8. **OpPr**: Open Price 开盘价
9. **HiPr**: High Price 最高价
10. **LoPr**: Low Price 最低价
11. **Tprice**: Trade Price 最新成交价
12. **Tvolume**: Trade Volume 成交量（股数）
13. **Tsum**: Trade Sum 成交金额（元）
14. **Tdeals**: Trade Deals 成交笔数
15. **TVolume_accu**: 累计成交量
16. **TSum_accu**: 累计成交金额
17. **Tdeals_accu**: 累计成交笔数
18. **BidPr1-10**: 买1到买10档位价格
19. **BidVol1-10**: 买1到买10档位挂单量
20. **AskPr1-10**: 卖1到卖10档位价格
21. **AskVol1-10**: 卖1到卖10档位挂单量
22. **BidDeals1-10**: 各买档位成交笔数
23. **AskDeals1-10**: 各卖档位成交笔数
24. **TotBidVol**: 总买盘挂单量
25. **WghtAvgBidPr**: 加权平均买价
26. **TotAskVol**: 总卖盘挂单量
27. **WghtAvgAskPr**: 加权平均卖价
28. **IOPV_Interest**: ETF参考净值
29. **YldToMtrty**: Yield to Maturity 到期收益率（债券类）
30. **WithDraw***: 撤单相关指标（撤买/撤卖笔数、量、金额）
31. **TotBidDeals**: 总买成交笔数
32. **TotAskDeals**: 总卖成交笔数
33. **NumBidOrders**: 买方向订单总数
34. **NumAskOrders**: 卖方向订单总数
35. **BidTrdMaxDrtn**: 买方最长交易持续时间
36. **AskTrdMaxDrtn**: 卖方最长交易持续时间
37. **EtfBuy/Sell***: ETF申赎相关指标
38. **ClPr**: Close Price 收盘价
39. **TrdPhsCd**: Trade Phase Code 交易阶段代码
40. **Trdirec**: Trade Direction 交易方向
41. **Absspread/Respread**: 绝对/相对买卖价差
42. **Abseffspread/Reeffspread**: 绝对/相对有效价差
43. **Depth1/Depth2**: 市场深度（可能指5档/10档深度）
44. **datetime**: 日期时间（整合Qdate和QTime）

**注**：数据特征显示这是中国A股高频交易数据（从ETF字段和600436股票代码可见），部分字段如IOPV、ETF相关指标表明可能包含ETF套利数据。Describe显示所有EtfSell相关指标为0，说明该证券可能不是ETF产品但市场包含ETF交易信息。

以下是针对各非数值型字段中每个取值的详细解释（基于中国证券市场常见术语推测）：

**InstrumentStatus（证券交易状态）**
| 值      | 含义                         | 阶段说明                           |
|---------|-----------------------------|----------------------------------|
| TRADE   | 连续交易阶段                 | 正常交易时段（可自由买卖）        |
| OCALL   | Opening Call Auction        | **开盘集合竞价阶段**（9:15-9:25） |
| CCALL   | Closing Call Auction        | **收盘集合竞价阶段**（14:57-15:00）|
| SUSP    | Suspension                  | 停牌（临时或长期无法交易）        |
| ENDTR   | End of Trading              | 交易结束（收盘后状态）            |
| START   | Pre-opening Preparation     | 开盘前准备阶段（可能为9:15前）    |
| CLOSE   | Post-closing Settlement     | 收盘后清算阶段                    |

**TrdPhsCd（交易阶段代码）**
| 值     | 含义（推测）                  | 对应时段/事件                     |
|--------|-----------------------------|----------------------------------|
| T111   | **连续交易阶段**             | 上午/下午连续竞价（如9:30-11:30, 13:00-14:57）|
| C111   | 收盘集合竞价阶段              | 14:57-15:00                     |
| U111   | 午间休市（Unavailable）       | 11:30-13:00                     |
| E110   | 临时停牌（如熔断）            | 价格波动触发的暂停交易           |
| P010   | 盘后固定价格交易（科创板/创业板）| 15:05-15:30                     |
| S 10   | 系统测试或特殊时段            | 非交易时间系统维护               |

**Trdirec（交易方向标识）**
| 值  | 含义                          | 说明                              |
|-----|-----------------------------|----------------------------------|
| B   | **Buy**（买方主动成交）       | 以卖一价成交，推动价格上涨        |
| S   | **Sell**（卖方主动成交）      | 以买一价成交，推动价格下跌        |
| F   | **Fix/Neutral**（中性方向）   | 可能为：<br>- 集合竞价匹配成交<br>- 撤单<br>- 系统内部对冲交易 |

**注意事项**
1. **数据特征**：  
   - `EtfSellDeals`等ETF相关字段全为0，结合`Code=600436`可知，这是**股票**（片仔癀）的高频交易数据，但数据集中保留了ETF相关字段（可能为统一模板）。
   - `TrdPhsCd`中的代码需参考交易所官方文档（如上交所[交易阶段代码表](http://www.sse.com.cn/)）确认精确含义。

2. **交易阶段扩展知识**：  
   - **熔断阶段**（E110）：当指数波动超过阈值时触发的全市场暂停交易（中国A股当前已取消指数熔断，但个股涨跌停仍存在）。
   - **盘后固定价格交易**（P010）：科创板/创业板特有机制，允许收盘后以固定价格交易。

建议在实际分析中结合具体时间戳（`QTime`字段）验证阶段划分是否符合交易所规则。

In [34]:
df1.iloc[:5, :5]

   Exchflg    Code   Code_Mkt       Qdate    QTime
0      1.0  600436  600436.SH  2021-01-04  31548.0
1      1.0  600436  600436.SH  2021-01-04  31608.0
2      1.0  600436  600436.SH  2021-01-04  31668.0
3      1.0  600436  600436.SH  2021-01-04  31728.0
4      1.0  600436  600436.SH  2021-01-04  31788.0

In [35]:
# type of each column
df1.dtypes

Exchflg         float64
Code              int64
Code_Mkt         object
Qdate            object
QTime           float64
                 ...
Respread        float64
Abseffspread    float64
Reeffspread     float64
Depth1          float64
Depth2          float64
Length: 110, dtype: object

In [37]:
# 将Qdate转换为日期对象
date = pd.to_datetime(df1['Qdate'])

# 将QTime转换为秒数的时间跨度
time = pd.to_timedelta(df1['QTime'], unit='s')

# 合并日期和时间得到datetime列
df1['datetime'] = date + time

df1['datetime'].head(200)

0     2021-01-04 08:45:48
1     2021-01-04 08:46:48
2     2021-01-04 08:47:48
3     2021-01-04 08:48:48
4     2021-01-04 08:49:48
              ...
195   2021-01-04 09:30:59
196   2021-01-04 09:31:02
197   2021-01-04 09:31:05
198   2021-01-04 09:31:08
199   2021-01-04 09:31:11
Name: datetime, Length: 200, dtype: datetime64[ns]